In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("glassdoor_jobs.csv")

In [15]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [16]:
df = df[df["Salary Estimate"] != "-1"]

In [19]:
salary = df["Salary Estimate"].apply(lambda x: x.split('(')[0])

In [20]:
salary

0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object

In [21]:
minus_kd = salary.apply(lambda x: x.replace("K", "").replace("$",""))

In [22]:
minus_kd

0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object

In [25]:
df["hourly"] = df["Salary Estimate"].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df["employer_provided"] = df["Salary Estimate"].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [26]:
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour', '').replace('employer provided salary', ''))

In [41]:
df["min_salary"] = min_hr.apply(lambda x: int(x.split('-')[0].replace(':','').strip()))
df["max_salary"] = min_hr.apply(lambda x: int(x.split('-')[1].strip()))

In [46]:
df["max_salary"].dtype

dtype('int64')

In [47]:
df["average_salary"] = (df["min_salary"]+df["max_salary"])/2

In [48]:
df["average_salary"]

0       72.0
1       87.5
2       85.0
3       76.5
4      114.5
       ...
950     84.5
951    102.5
952     73.5
953    127.5
955     93.5
Name: average_salary, Length: 742, dtype: float64

In [50]:
df['company_txt'] = df.apply(lambda x: x["Company Name"] if x["Rating"] < 0 else x["Company Name"][:-3], axis=1)

In [51]:
df["job_state"] = df["Location"].apply(lambda x: x.split(",")[1])

In [58]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [59]:
df['same_state']

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: same_state, Length: 742, dtype: int64

In [77]:
df['age'] = df.Founded.apply(lambda x: x if x < 1 else (2020-x))

In [78]:
df['age'].head()

0    47
1    36
2    10
3    55
4    22
Name: age, dtype: int64

In [79]:
df["python"] = df["Job Description"].apply(lambda x: 1 if "python" in x.lower() else 0)
df["spark"] = df["Job Description"].apply(lambda x: 1 if "spark" in x.lower() else 0)
df["aws"] = df["Job Description"].apply(lambda x: 1 if "aws" in x.lower() else 0)
df["excel"] = df["Job Description"].apply(lambda x: 1 if "excel" in x.lower() else 0)

In [80]:
df["excel"].value_counts()

1    388
0    354
Name: excel, dtype: int64

In [81]:
df.drop(["Unnamed: 0"], axis = 1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [82]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,max_salary,average_salary,company_txt,job_state,same_state,age,python,spark,aws,excel
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,...,91,72.0,Tecolote Research\n,NM,0,47,1,0,0,1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,...,112,87.5,University of Maryland Medical System\n,MD,0,36,1,0,0,0
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,...,90,85.0,KnowBe4\n,FL,1,10,1,1,0,1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,97,76.5,PNNL\n,WA,1,55,1,0,0,0
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,143,114.5,Affinity Solutions\n,NY,1,22,1,0,0,1

In [84]:
df.to_csv("final_cleaned_salary_data.csv")